# Ignorar arquivos de dados grandes e temporários


docs/
data/
dist/
auxdata/
output/
notebooks/update_notebooks.py
notebooks/checking_sar_algorithm.ipynb
notebooks/download_2020.py
examples/translate_to_english.py
examples/00_create_matches.py
scripts/*

# Bytecode

src/wasp/__init__.py
examples/__pycache__
__pycache__/
*.pyc
*.pyo

# Ambientes virtuais
env/
venv/
.venv/

# Configurações locais
*.env

# Arquivos temporários
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Diretórios de build
build/
dist/
*.egg-info/

